html{
  width:100%;
  height:100%;
  background:linear-gradient(145deg ,#072732,#215768);
}
div{
     word-wrap: break-word;
}
.chat{
  font:0.9em Trebuchet MS;
  min-width:300px;
  width:300px;
  margin:auto auto auto auto;
}


.chat ul{
  margin:0;
  padding:0;
  border-bottom:2px solid #9c9c9c;
  padding-bottom:15px;
  margin-bottom:15px;
}


.chat ul li{
  width:100%;
  list-style-type:none;
  margin:5px 0;
  position:relative;
  display:inline-block;

  
}

.chat ul li img{
    float:left;
    border-radius:50px;
    box-shadow:0 2px 15px rgba(0,0,0,.5);
}
.chat ul li .r_message{
    margin-left:90px;
    position:relative;
    min-height:25px;
    margin-top:35px;
    padding:10px;
    box-sizing:border-box;
    background:#def1ff;
}

.chat ul li .s_message{
    margin-right:90px;
    position:relative;
    min-height:25px;
    margin-top:35px;
    padding:10px;
    box-sizing:border-box;
    background:#def1ff;
}
/*
.chat ul li:nth-child(odd) img{
  float:right;
}

.chat ul li:nth-child(odd) .message{
  margin-right:90px;
  margin-left:0;
  
}



.chat ul li:nth-child(even) .message{
    background:#daffb1;
}
*/


.sender {
font-weight: bold;
color : #008080;
}

.chat input[type="text"]{
  width:70%; 
  margin:0; 
  border:0;
  padding:6px;
  background:#e5ecff;
  font:italic 12px Monospace;
  box-sizing:border-box;
}
.chat button{
  box-sizing:border-box;
  width:30%;padding:6px;font:12px Monospace; color:white;
  background:#84adfc;
  margin:0;
  border:0;
}
